#Aibo Driver Aibo Team - Jesse Lopez - Pablo Munoz - Joel Gonzalez
#Copyright (C) 2010
driver
(
	name "aibo"
	plugin "libAibo_Driver.so"
	provides ["position2d:0" "ptz:0" "camera:0"]
	# IP for Aibo using Simon memory card/ xxxxx.160 for Betsy memory card
<<<<<<< HEAD
	ip ["192.168.2.157"]
=======
	ip ["192.168.2.155"]
	protocol ["UDP"]
>>>>>>> 3baff26505b4589036ee92c1aa70bb19bae419e4
)

driver
(
	name "cmvision"
	provides ["blobfinder:0"]
	requires ["camera:0"]
	colorfile ["color.txt"]
)

